<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="bbms" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=bbms;Integrated Security=True;Pooling=False" />
    <add name="bbmsConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=bbms;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  <pages viewStateEncryptionMode="Always"></pages>
  </system.web>

</configuration>